@{
    ViewData["Title"] = "Index";
}

<main>
    <section class="detail">
        <div class="reseption">
            <div class="reseption-details">
                <div class="reseption-img">
                    <img src="assets/images/blank_avatar.png" alt="" />
                </div>
                <div class="reseption-detail">
                    <h3>Tural Hamidzade</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="vakansiya">
        <div class="all-buts">
            <div class="all-but">
                <div class="movcud">
                    <p>Mövcud Vakansiyalar</p>
                </div>
                <div class="shedreq">
                    <div class="imgandname">
                        <img src="./assets/images/Company.png" alt="">
                        <h5>Kassir</h5>
                    </div>
                </div>
                <div class="day-vacation">
                    <p>3 gün əvvəl</p>
                </div>
            </div>
            <div class="all-but2">
                <div class="xulase">
                    <p>Şirkət xülasəsi</p>
                </div>
                <div class="detal-box">
                    <div class="detal-icon"><i class="fa-regular fa-building"></i></div>
                    <div>
                        <p>Tip</p>
                        <span>Şirkət</span>
                    </div>
                </div>
                <div class="share">
                    <p>Paylaş</p>
                    <ul>
                        <li><i class="fa-brands fa-facebook-f"></i></li>
                        <li><i class="fa-brands fa-twitter"></i></li>
                        <li><i class="fa-brands fa-linkedin-in"></i></li>
                        <li><i class="fa-brands fa-telegram"></i></li>
                        <li><i class="fa-brands fa-whatsapp"></i></li>
                        <li><i class="fa-solid fa-qrcode"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="info-searcher">
            <div class="all-but">
                <div class="movcud">
                    <p>İş təcrübəsi</p>
                </div>
                <div class="shedreq">
                    <div class="imgandname">
                        <p>Kassir</p>
                    </div>
                </div>
            </div>
            <div class="all-but">
                <div class="movcud">
                    <p>Təhsil aldığı yerlər</p>
                </div>
                <div class="shedreq">
                    <div class="imgandname">
                        <p>Qeyd edilməyib</p>
                    </div>
                </div>
            </div>
            <div class="all-but">
                <div class="movcud">
                    <p>Dil bacarıqları</p>
                </div>
                <div class="shedreq">
                    <div class="imgandname-3">
                        <p>Azərbaycan</p>
                        <p>Rus</p>
                        <p>İngilis</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

