@model List<AboutWA>
@{
    ViewData["Title"] = "Index";
}

 <main>
        <section id="fixedbuttons">
        <button><a asp-controller="AboutWA" asp-action="Index">İş axtarıram</a></button>
        <button><a asp-controller="AboutWE" asp-action="Index">İşçi axtarıram</a></button>
        </section>
        <section id="page1">
            <div class="container">
                <div class="row mt-5">
                    @foreach (AboutWA aboutWA in Model)
                   {
                       <div class="col-lg-6">
                        <div class="bigtext">
                            <h1>@aboutWA.Title</h1>
                            <p>@aboutWA.Subtitle</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="imgpage1">
                            <img src="https://staffy.az/static/media/illustration-2.10dd1231.svg" alt="sss">
                        </div>
                    </div>
                   }
                </div>
            </div>
        </section>
        <section id="cardspage1">
        <div class="container">
            <div class="row mt-5">
                @foreach (AboutWA aboutWA1 in Model)
               {
                   <div class="col-lg-12">
                    <div class="cardspage1_text">
                        <h2>
                            @aboutWA1.InfoTitle
                        </h2>
                        <p>@aboutWA1.InfoSubtitle</p>
                    </div>
                </div>
               }
            </div>
        </div>
        </section>
         <section id="card_list">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-4 mt-4">
                        <div class="card_item"> 
                            <div class="icon1">
                                <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M18 17H6v-2h12v2zm0-4H6v-2h12v2zm0-4H6V7h12v2zM3 22l1.5-1.5L6 22l1.5-1.5L9 22l1.5-1.5L12 22l1.5-1.5L15 22l1.5-1.5L18 22l1.5-1.5L21 22V2l-1.5 1.5L18 2l-1.5 1.5L15 2l-1.5 1.5L12 2l-1.5 1.5L9 2 7.5 3.5 6 2 4.5 3.5 3 2v20z"></path></svg>
                            </div>
                            <div class="card_text">
                                <p class="bold">Asan Qeydiyyat</p>
                                <p class="p_text">E-poçt ünvanınız vasitəsilə və ya birbaşa Facebook yaxud Google hesabınızdan istifadə edərək qeydiyyatdan keçə bilərsiniz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card_item"> 
                            <div class="icon2">
                                <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"></path></svg>
                                 </div>
                            <div class="card_text">
                                <p class="bold">Peşəkar Staffy profili</p>
                                <p class="p_text">Staffy platformasında öz professional profilinizi yarada bilərsiniz. Profilinzə qeyd etdiyiniz şəxsi məlumatlarınız, təhsiliniz, iş təcrübəniz, bacarıqlarınız, sertifikatlarınız potensial işəgötürənlərin diqqətini çəkərək yeni iş imkanlarını ayağınıza gətirəcəkdir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card_item"> 
                            <div class="icon3">
                                <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M17 6c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zM5 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"></path></svg>
                            </div>
                            <div class="card_text">
                                <p class="bold">CV yükləmək</p>
                                <p class="p_text">Öz istəyinizə uyğun dizayn etdiyiniz mövcud CV-nizi yükləyərək profilinizə əlavə edə bilərsiniz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card_item"> 
                            <div class="icon4">
                                <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z"></path></svg>
                            </div>
                            <div class="card_text">
                                <p class="bold">Yadda saxlamaq</p>
                                <p class="p_text">Bəyəndiyiniz iş elanlarına daha sonra baxmaq, müraciət etmək imkanı olsa necə də yaxşı olardı. Staffy bəyəndiyiniz iş elanını sonradan tapa bilmədiyinizdə keçirdiyiniz məyusluq hissindən xəbərdardır. Yadda saxla özəlliyindən istifadə etməklə öz iş elanları siyahınızı qura bilərsiniz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card_item"> 
                            <div class="icon5">
                                <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><circle cx="9" cy="9" r="4"></circle><path d="M9 15c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4zm7.76-9.64l-1.68 1.69c.84 1.18.84 2.71 0 3.89l1.68 1.69c2.02-2.02 2.02-5.07 0-7.27zM20.07 2l-1.63 1.63c2.77 3.02 2.77 7.56 0 10.74L20.07 16c3.9-3.89 3.91-9.95 0-14z"></path></svg>
                            </div>
                            <div class="card_text">
                                <p class="bold">İş müraciətinizi izləmə imkanı</p>
                                <p class="p_text">Staffy istədiyiniz zaman iş müraciətlərinizin gedişatını izləmək imkanı verir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

