@model Blog
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div>
        <label class="mb-3">Blog Title:</label><br />
        <input asp-for="Title" class="form-control" type="text"/>
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div>
        <label class="mb-3 mt-2">Blog Subtitle:</label><br />
        <input asp-for="Subtitle" class="form-control" type="text"/>
        <span class="text-danger" asp-validation-for="Subtitle"></span>

    </div>
    <div>
        <label class="mb-3 mt-2">Blog Date:</label><br />
        <input asp-for="Date" class="form-control" type="text"/>
        <span class="text-danger" asp-validation-for="Date"></span>

    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Edit Blog</button>
    </div>
</form>


